.blue {
    color: #32beda;
}

.dark-blue {
    color: #238497;
}

.gray {
    color: gray;
}

.red {
    color: red;
}

.black {
    color: black;
}

.dark-grey {
    color: rgb(87, 87, 87);
}

.white {
    color: white;
}