html {
    height: 100%;
}

body{
    border: none;
    margin: 0;
    height: 100%;
    background-color: rgb(29, 28, 28);
}

.defFont {
    font-family: Lato;
}

#nav-bar{
    background-color: white;
    width: 100%;
    border: none;
    display: flex;
    position: fixed;
    top: 0;
}

#Kosong1{
    display: flex;
    flex-grow: 2;
}

#Engi {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

#Search{
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

#search-form {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#Search > form > input[type=text] {
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 90%;
    height: 50%;
    padding: 0px 20px;
    padding-right: 40px;
}

#Search > form > input[type=submit] {
    background: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: relative;
    left: -8%;
    border: none;
    height: 20px;
    width: 20px; 
}

#Kosong2 {
    display: flex;
    flex-grow: 4;
}

#Transaction, #Logout {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#Transaction:hover, #Logout:hover {
    background-color: #32bedab3;
    /* color: white; */
}

#Transaction > a, #Logout > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#Kosong3 {
    display: flex;
    flex-grow: 3;
}