@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
    height: 100%;
}
body{
    border: none;
    margin: 0;
    height: 100%;
    background-color: rgb(29, 28, 28);
    font-family: 'Raleway', sans-serif;
}

#nav-bar{
    background-color: white;
    width: 100%;
    border: none;
    display: flex;
    position: fixed;
    top: 0;
}

#Kosong1{
    display: flex;
    flex-grow: 2;
}

#Engi {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

#Engi > p > b > span {
    color: #32beda;
}

#Search{
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

#search-form {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#Search > form > input[type=text] {
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 90%;
    height: 50%;
    padding: 0px 20px;
    padding-right: 40px;
}

#Search > form > input[type=submit] {
    background: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: relative;
    left: -8%;
    border: none;
    height: 20px;
    width: 20px; 
}

#Kosong2 {
    display: flex;
    flex-grow: 4;
}

#Transaction, #Logout {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#Transaction > a, #Logout > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#Kosong3 {
    display: flex;
    flex-grow: 3;
}

.container {
    background-color: white;
    width: 80%;
    display: grid;
    margin: 0 auto;
    box-shadow: inset 1px 4px 9px -6px gray;
    padding: 20px 40px;
    padding-top: 150px;
    row-gap: 20px;
}

.container > input[type= submit] {
    background-color: DodgerBlue;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 77.5%;
    width: 80px;
    height: 40px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

#FormReview {
    margin-top: 5%;
    margin-left: 20%;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5%;
}

#FormReview > textarea {
    border: 3px solid #555;
    width: 60%;
    margin-left: 9.5%;
    height: 95px;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    vertical-align: top
}

.starRating:not(old){
  display: inline-block;
  width: 15em;
  height: 1.5em;
  overflow: hidden;
  vertical-align: bottom;
}

.starRating:not(old) > input{
  margin-right: -100%;
  opacity: 0;
}

.starRating:not(old) > label{
  display: block;
  float: right;
  position: relative;
  background: url('../img/star-off.svg');
  background-size: contain;
}

.starRating:not(old) > label:before{
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  background: url('../img/star-on.svg');
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.judul {
    font-size: 35px;
    padding: 0;
    margin-left: 15%;
}


